body {
    background: url(../images/fon1.jpg);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
}

.grid-item1{
    grid-area: 1/1/1/2;
}

.grid-item2{
    grid-area: 1/2/1/3;
}

.grid-item3{
    grid-area: 1/3/1/4;
}

table.MyTable {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #6E7FA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 200%;
    text-align: center;
    border-collapse: collapse;
    -webkit-box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    -moz-box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
}
table.MyTable td, table.MyTable th {
    border: 1px solid #AAAAAA;
    padding: 10px 5px;
}
table.MyTable tbody td {
    font-size: 15px;
}
table.MyTable tr:nth-child(even) {
    background: #ADB9C9;
}
table.MyTable thead {
    background: #6E7FA4;
    background: -moz-linear-gradient(top, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    background: -webkit-linear-gradient(top, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    background: linear-gradient(to bottom, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    border-bottom: 2px solid #444444;
}
table.MyTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.MyTable thead th:first-child {
    border-left: none;
}
table.MyTable tfoot td {
    font-size: 14px;
}
table.MyTable tfoot .links {
    text-align: right;
}
table.MyTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

table.MyTableMain {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid #6E7FA4;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    -webkit-box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    -moz-box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
}
table.MyTableMain td, table.MyTableMain th {
    border: 1px solid #AAAAAA;
}
table.MyTableMain tbody td {
    font-size: 15px;
}
table.MyTableMain thead {
    background: #6E7FA4;
    background: -moz-linear-gradient(top, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    background: -webkit-linear-gradient(top, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    background: linear-gradient(to bottom, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    border-bottom: 2px solid #444444;
}
table.MyTableMain thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.MyTableMain thead th:first-child {
    border-left: none;
}
table.MyTableMain tfoot td {
    font-size: 14px;
}
table.MyTableMain tfoot .links {
    text-align: right;
}
table.MyTableMain tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}



table.MyTableOther {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid #6E7FA4;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    -webkit-box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    -moz-box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    box-shadow: 14px 16px 51px 12px rgba(61,46,61,0.87);
    margin-bottom: 25px;
}
table.MyTableOther td, table.MyTableMain th {
    border: 1px solid #AAAAAA;
    padding: 10px 5px;
}
table.MyTableOther tbody td {
    font-size: 15px;
}
table.MyTableOther thead {
    background: #6E7FA4;
    background: -moz-linear-gradient(top, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    background: -webkit-linear-gradient(top, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    background: linear-gradient(to bottom, #929fbb 0%, #7c8bad 66%, #6E7FA4 100%);
    border-bottom: 2px solid #444444;
}
table.MyTableOther thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.MyTableOther thead th:first-child {
    border-left: none;
}
table.MyTableOther tfoot td {
    font-size: 14px;
}
table.MyTableOther tfoot .links {
    text-align: right;
}
table.MyTableOther tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}